.container{ 
    border: 1px solid #C4C4C4; 
    width: 336px; 
    height: 236px; 
    margin: 100px auto ; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
.bg-yellow{ 
    height: 28px; 
    width: 100%; 
} 
.container h1{ 
   font-size: 26px; 
   font-weight: 900; 
   Line-height: 30.47px; 
   margin-top: 15px; 
   font-family: 'Roboto', sans-serif; 
} 
.grey-image{ 
   width: 100%; 
   display: flex; 
   justify-content: flex-end; 
   margin-right: 70px; 
   margin-top: 15px; 
   margin-bottom: -10px; 
} 
.input{ 
   display: flex; 
} 
.border{ 
   border: 1px solid #C4C4C4; 
   width: 286px; 
   height: 40px; 
   display: flex; 
   justify-content: flex-end; 
   border-radius: 10px; 
   box-sizing: border-box; 
   margin: 20px -70px 20px 0px; 
} 
.input img{ 
   width: 10px; 
   height: 10px; 
   border-radius: 50%; 
   margin: 29px 25px; 
   padding: 5px; 
   border: 1px solid #C4C4C4; 
} 
.button{ 
   display: flex; 
} 
.secret-border{ 
   border: 1px solid #C4C4C4; 
   width: 286px; 
   height: 200px; 
   border-radius: 10px; 
   margin: 0 auto; 
   visibility: hidden; 
} 
.item{ 
   display: flex; 
   justify-content: space-between; 
   margin: 13px 0; 
   padding: 0 25px; 
   font-family: 'Roboto', sans-serif; 
} 
.border-x img{ 
   width: 10px; 
   height: 10px; 
   border-radius: 50%; 
   padding: 5px; 
   border: 1px solid #C4C4C4; 
}